 :root {
        --bg-color: #ffffff;
        --digit-bg: #eeeeee;
        --clock-bg: #161616;
        --clock-border: #2e2e2e;
        --hand-color: #e0ff55;
        --light : white;
    }

    [data-theme="dark"] {
        --bg-color: #121212;
        --digit-bg: #1e1e1e;
        --clock-bg: #222222;
        --clock-border: #444444;
        --hand-color: #ffeb3b;
        --dark: black;
    }
    body {
      margin: 0;
      padding: 30px;
      background: black;
      font-family: sans-serif;
      display: flex;
      justify-content: center; /* centers horizontally */
      align-items: center;      
    }
    #container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    } 

    #container > div {
      display: flex;
      gap: 0.25rem;
    }

    .box {
      display: grid;
      grid-template-columns: repeat(5, 0fr);
      grid-template-rows: repeat(7, 0fr);
      gap: 2px;
      margin: 5px;
      padding: 10px;
      border: 2px solid white
      /* justify-content: center; */
    }

    .dot {
      position: relative; /* Add this line */
      height: 8px;
      width: 8px;
      /* background: rgb(22, 22, 22);
      border: 1px solid rgb(46, 46, 46); */
      background: var(--dark);
      border: 1px solid var(--dark);
      ;
      border-radius: 50%; /* Makes it a circle */
      opacity: 0; /* Start hidden */
      transform: translateX(-10px); /* Start off-screen to the left */
      transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Smooth transition */
    }

    .dot.animate {
    opacity: 1;
    transform: translateX(0); /* Animate to original position */
}
